<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decision Making Matrix</title>
    <link rel="stylesheet" href="/static/style/app.css">
</head>
<body>
    <div class="error">
        {{errormessage}}
    </div>
<div class="mainsection">


        <div class="inputeditems">
        {% for items in listoffactor %}
          <ul>{{items}}</ul>
        {% endfor %}
        </div>

        <div class="buttongroup">
        <form action="pageAction3" method="post">
            <button type="submit" name="submitType" value="back" class="resetcontent">Back</button>
            <button type="submit" name="submitType"  value="calculate" class="nextpage">Calculate</button>
        </form>
        </div>


   
</div>
    
</body>
<script src="app.js"></script>
</html>