<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decision Making Matrix</title>
    <link rel="stylesheet" href="/static/style/app.css">
</head>
<body>
    <form action="pageAction3" method="post">
    <div class="error">
        {{errormessage}}
    </div>
<div class="mainsection">


        <div class="inputeditems">
        <table name="MatrixData">
        <th>Factors</th>

        {% for items in listoffactor %}
          <th>{{items}}</th>
        {% endfor %}

        <tr>
            <td>Weights</td>
            {% for items in listoffactor %}
            <td> 
            <input type="number" name="factorweight" min="1" max="5" value="1">
            </td>
           {% endfor %}

        </tr>

        {% for items in listofitems %}
          <tr>
            <td>{{items}}</td>
            {% for items in listoffactor %}
            <td>
            <input type="number" name="itemsweight" min="1" max="5" value="1">
            </td>
           {% endfor %}
          </tr>
        {% endfor %}

         </table>
        </div>
       

        <div class="buttongroup">
            <button type="submit" name="submitType"  value="calculate" class="nextpage">Submit</button>       
            <button type="submit" name="submitType" value="back" class="resetcontent">Back</button>

        
        </div>


   
</div>
</form>
</body>
<script src="app.js"></script>
</html>